.problems {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.problem {
  height: 100px;
  text-align: right;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.problem input {
  width: 70px;
  font: 16px Courier, mono-space; 
  text-align: right;
}

.math {
  font: 16px Courier, mono-space; 
  border-bottom: 1px solid black;
  margin: 0;
}

.correctStatement {
  margin-top: 10px;
  font-size: 14pt ;
  font-weight: bold;
  display: none;
  text-align: center;
}

.correct {
  background-color: LightGreen;
}

.incorrect {
  background-color: IndianRed;
}

.options input {
  width: 30px;
  text-align: right;
}
